.about{
    padding: 60px;
    padding-bottom: 0;
    /* background: url("https://cdn.pixabay.com/photo/2016/01/08/13/50/background-1127943_1280.jpg"); */
   
}

hr{
    border-top-color:#bbb;
    opacity:0.2;
    margin-top: 26px;
    margin-right: 150px;
    margin-left: 150px;
   
}
.contentsnig{
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
}
